body{
	font-family: 'Open Sans',sans-serif;
	background:black;
}

#container{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	max-height: 550px;
	margin: 50px auto;
}

#calculator{
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 20px auto;
	position: relative;
	border-radius: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result{
	height: 120px;
}

#keyboard{
	height: 400px;
}

#history{
	text-align: center;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 20px;
	color: #919191;
}

#output{
	text-align: center;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}

.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 20px;
}

.number, .empty{
	background-color: #eaedef;
}

.number, .operator{
	cursor: pointer;
}

.number:active, .operator:active{
	font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}

button:nth-child(1){
	font-size: 20px;
	background-color: #4000ff;
}

button:nth-child(2){
	font-size: 20px;
	background-color:#808080;
}

button:nth-child(3){
	font-size: 20px;
	background-color: #bfff00;
}

button:nth-child(4){
	font-size: 20px;
	background-color: #0040ff;
}

button:nth-child(8){
	font-size: 20px;
	background-color: #40ff00;
}

button:nth-child(12){
	font-size: 20px;
	background-color: #ff6666;
}

button:nth-child(16){
	font-size: 20px;
	background-color: #00ff40;
}

button:nth-child(20){
	font-size: 20px;
	background-color: #ffa500;
}